.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.suo
.vs/
*.user
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
appsettings.Development.json
appsettings.Local.json
*.db
*.log

TestResults/
.azure/
.dockerignore
node_modules/
jspm_packages/

dist/
build/
out/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

coverage/
*.cover
*.coverage
*.coveragexml